a.buy-now:before {
   display: inline-block;
   font-family: Dashicons;
   float: left;
   content: "\f344";
   font-weight: 300;
   margin-right: 1em;
}

a#buy-now-variation:before {
   display: inline-block;
   font-family: Dashicons;
   float: left;
   content: "\f344";
   font-weight: 300;
   margin-right: 1em;
}